<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="test_bin.css">
</head>

<body>
    <div class="layout">
        <button id="btnReset" onclick="reset()">回归主视图</button>
		<p></p>
		<button id="highlightByBox" >框选高亮</button>
		<p></p>
		<button id="boxHighlightDisable">取消高亮</button>
		<p></p>
    </div>

    <canvas height="720" width="1280" id="showcanvas"> </canvas>
	<canvas style="display:none;" id="navmap" width="480" height="480"></canvas>


    <div id="Navmap" class="Navmap" style="display:none">
        <button style="position:absolute; top:1%;right:1%" onclick="hideNavmap()">X</button>
        <svg height="480" width="480" xmlns="http://www.w3.org/2000/svg" version="1.1">
			<polygon id="navigationpolygon" points="150,135 144,144 156,144"
				style="fill:lime;stroke:purple;stroke-width:1" />
			<circle id="navigationCircle" cx="150" cy="150" r="6" stroke="black" stroke-width="1" opacity="1"
				fill="#11DAB7"></circle>
		</svg>
    </div>
</body>

<script src="js/websocket.js"></script>
<script src="js/global_vars.js"></script>
<script src="js/basic_functions.js"></script>
<script src="js/basic_buttons.js"></script>
<script src="js/window_ops.js"></script>
<script src="js/canvas_ops.js"></script>
<script src="js/navigation_map.js"></script>

<script>
	document.getElementById("highlightByBox").onclick = function(e) {
		console.log("highlightByBox")
		data.type = 1035;
		//data.uuid = '1;0;6;-369.1875;242.9;-14.989;56.625;76.5;11.0785';
		//data.uuid = '1;0;6;-370.0;76.5;-15.0;56.625;243.0;11.08';
		data.uuid = '1;0;6;319358.375;338254.375;-6.7965;319785.0;338420.875;19.2835';
		ws1.send(code(data));
	}
	document.getElementById("boxHighlightDisable").onclick = function(e) {
		console.log("boxHighlightDisable")
		data.type = 1035;
		data.uuid = '0;0;0';
		ws1.send(code(data));
	}
</script>
</html>