<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="test_bin.css">
</head>

<body>
    <div class="layout">
		<button id="show" style="background-color:#666666; display:none;"> show </button>
		<button id="hide" style="background-color:#666666; display:none;"> hide </button>
		<button id="planform" style="background-color:#666666; display:none;"> planform </button>
		<button id="nav_SetBuildNumber" style="background-color:#666666; display:none;"> nav_SetBuildNumber </button>
		<button id="nav_SetFloorHeight" style="background-color:#666666; display:none;"> nav_SetFloorHeight </button>
		<button id="Navmap" style="background-color:#666666; display:none;"> Navmap </button>
		<button id="nav_FirstPersonView" style="background-color:#666666; display:none;"> nav_FirstPersonView </button>
		
        <button id="btnReset" onclick="reset()">回归主视图</button>
        <p>
		<button id="test106_0">106清除隔离显示</button>
		</p>
		<p>
		<button id="test106_1">106隔离显示面积</button>
		</p>

		</p>

    </div>

    <canvas height="720" width="1280" id="showcanvas"> </canvas>


    <div id="Navmap" class="Navmap" style="display:none; background:url(D://Home/Workspace/cbim_repos/cbimraas_new/data/save/views/NavMap.jpg) center;background-size:100%;">
        <button style="position:absolute; top:1%;right:1%" onclick="hideNavmap()">X</button>
        <svg height="300" width="300" xmlns="http://www.w3.org/2000/svg" version="1.1">
			<polygon id="navigationpolygon" points="150,135 144,144 156,144"
				style="fill:lime;stroke:purple;stroke-width:1" />
			<circle id="navigationCircle" cx="150" cy="150" r="6" stroke="black" stroke-width="1" opacity="1"
				fill="#11DAB7"></circle>
		</svg>
    </div>
</body>

<script src="js/websocket.js"></script>
<script src="js/global_vars.js"></script>
<script src="js/basic_functions.js"></script>
<script src="js/basic_buttons.js"></script>
<script src="js/window_ops.js"></script>
<script src="js/canvas_ops.js"></script>
<script src="js/navigation_map.js"></script>

<script>

	document.getElementById("test106_1").onclick = function(e) {
		console.log("test106_1")
		data.type = 106;
		data.extraType = 1;
        //data.uuid = '343bfeff-04dd-4819-958c-2c1d4e9a9ba4-0012438f';//测试用模型：Y1M1-I-CS-105.cim
		data.uuid = "4f857968-f00e-4335-b0aa-2444f9978293-0012fa4c";	//测试用模型：site1125.cim

		ws1.send(code(data));
	}
	
	document.getElementById("test106_0").onclick = function(e) {
		console.log("test106_0")
		data.type = 106;
        data.extraType = 0;
		ws1.send(code(data));
	}
	
</script>

</html>