<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="test_bin.css">
</head>

<body>
    <div class="layout">
        <button id="btnReset" onclick="reset()">回归主视图</button>
		<p></p>
		<button id="location_2" >隔离(new)</button>
		<p></p>
		<button id="clean_location_2" >清除隔离</button>
		<p></p>
    </div>

    <canvas height="720" width="1280" id="showcanvas"> </canvas>
	<canvas style="display:none;" id="navmap" width="480" height="480"></canvas>


    <div id="Navmap" class="Navmap" style="display:none">
        <button style="position:absolute; top:1%;right:1%" onclick="hideNavmap()">X</button>
        <svg height="480" width="480" xmlns="http://www.w3.org/2000/svg" version="1.1">
			<polygon id="navigationpolygon" points="150,135 144,144 156,144"
				style="fill:lime;stroke:purple;stroke-width:1" />
			<circle id="navigationCircle" cx="150" cy="150" r="6" stroke="black" stroke-width="1" opacity="1"
				fill="#11DAB7"></circle>
		</svg>
    </div>
</body>

<script src="js/websocket.js"></script>
<script src="js/global_vars.js"></script>
<script src="js/basic_functions.js"></script>
<script src="js/basic_buttons.js"></script>
<script src="js/window_ops.js"></script>
<script src="js/canvas_ops.js"></script>
<script src="js/navigation_map.js"></script>
<script src="js/draw_area.js"></script>
<script>
	document.getElementById("location_2").onclick = function(e) {
		console.log("location_2")
		data.type = 1051;
		data.uuid = "1;6;5;69043a30-3381-455d-aaac-66b472c29c02-0003d666;e3660a05-e7b5-4808-b6e7-0bccade94fe9-000c66c5;e3660a05-e7b5-4808-b6e7-0bccade94fe9-000c7300;e3660a05-e7b5-4808-b6e7-0bccade94fe9-000c6816;e3660a05-e7b5-4808-b6e7-0bccade94fe9-000c67a5;900152a1-f093-4537-ba15-2c8f93890970-000ad5cd;0.0;1.0;0.0;1;0.1";
		ws1.send(code(data));
	}
	document.getElementById("clean_location_2").onclick = function(e) {
		console.log("clean_location_2")
		data.type = 1051;
		data.uuid = '0;0;0';
		ws1.send(code(data));
	}
</script>
</html>