<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="test_bin.css">
</head>

<body>
    <div class="layout">
		<button id="show" style="background-color:#666666; display:none;"> show </button>
		<button id="hide" style="background-color:#666666; display:none;"> hide </button>
		<button id="planform" style="background-color:#666666; display:none;"> planform </button>
		<button id="nav_SetBuildNumber" style="background-color:#666666; display:none;"> nav_SetBuildNumber </button>
		<button id="nav_SetFloorHeight" style="background-color:#666666; display:none;"> nav_SetFloorHeight </button>
		<button id="Navmap" style="background-color:#666666; display:none;"> Navmap </button>
		<button id="nav_FirstPersonView" style="background-color:#666666; display:none;"> nav_FirstPersonView </button>
		
        <button id="btnReset" onclick="reset()">回归主视图</button>
        <p>
		<button id="test1066_0">1066_重置颜色</button>
		</p>
		<p>
		<button id="1066_clean_all_area_and_line">1066_清除所有线和面积</button>
		</p>
		<p>
		<button id="1066_repeatStandardLayer">1066_绘制多层标准层</button>
		</p>
		<p>
		<button id="1066_resetAll">1066_重置</button>
		</p>
    </div>

    <canvas height="720" width="1280" id="showcanvas"> </canvas>


    <div id="Navmap" class="Navmap" style="display:none; background:url(D://Home/Workspace/cbim_repos/cbimraas_new/data/save/views/NavMap.jpg) center;background-size:100%;">
        <button style="position:absolute; top:1%;right:1%" onclick="hideNavmap()">X</button>
        <svg height="300" width="300" xmlns="http://www.w3.org/2000/svg" version="1.1">
			<polygon id="navigationpolygon" points="150,135 144,144 156,144"
				style="fill:lime;stroke:purple;stroke-width:1" />
			<circle id="navigationCircle" cx="150" cy="150" r="6" stroke="black" stroke-width="1" opacity="1"
				fill="#11DAB7"></circle>
		</svg>
    </div>
</body>

<script src="js/websocket.js"></script>
<script src="js/global_vars.js"></script>
<script src="js/basic_functions.js"></script>
<script src="js/basic_buttons.js"></script>
<script src="js/window_ops.js"></script>
<script src="js/canvas_ops.js"></script>
<script src="js/navigation_map.js"></script>

<script>
	
//{
//	"ldArr": [{
//			"type": "resetColor"
//		}
//	]
//}
	
	document.getElementById("test1066_0").onclick = function(e) {
		console.log("test1066_0")
		data.type = 1066;
        data.uuid = '{"ldArr":[{"type":"resetColor"}]}';
		ws1.send(code(data));
	}

	document.getElementById("1066_clean_all_area_and_line").onclick = function(e) {
		console.log("1066_clean_all_area_and_line")
		data.type = 1066;
        data.uuid = '{"ldArr":[{"type":"cleanAllAreaAndLine"}]}';
		ws1.send(code(data));
	}

	//site1125.cim
	//标准层绘制，标准层和普通area混合绘制。
	document.getElementById("1066_repeatStandardLayer").onclick = function(e) {
		console.log("1066_repeatStandardLayer")
		data.type = 1066;
        data.uuid = '{"ldArr":[{"type":"divide","opacity":0.2},{"type":"repeatStandardLayer","uuid":"87bbe04e-3142-4298-9d8d-12f408778367-00125502","level_count":10,"level_height":3.5,"highlightColor":"ffa500"},{"objects":["87bbe04e-3142-4298-9d8d-12f408778367-001254e4"],"objectType":"area","type":"highlight","highlightColor":"ff0000"}]}';
		ws1.send(code(data));
	}
	document.getElementById("1066_resetAll").onclick = function(e) {
		console.log("1066_resetAll")
		data.type = 1066;
        data.uuid = '{"ldArr":[{"type":"resetAll"}]}';
		ws1.send(code(data));
	}
	
	
</script>

</html>