<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="test_bin.css">
</head>

<body>
    <div class="layout">
		<p>
        <button id="btnReset" onclick="reset()">回归主视图</button>
		</p>
		<p>
		<button id="grid_cut" >轴网剖切</button>
		</p>		
		<p>
		<button id="grid_cut_clean" >轴网清除</button>
		</p>
		<p>
		<button id="level_cut" >标高剖切</button>
		</p>
		<p>
		<button id="level_cut_clean" >标高清除</button>
		</p>
		<p>
		<button id="top" >top</button>
		</p>		
		<p>
		<button id="front" >front</button>
		</p>
    </div>

    <canvas height="720" width="1280" id="showcanvas"> </canvas>
	<canvas style="display:none;" id="navmap" width="480" height="480"></canvas>


    <div id="Navmap" class="Navmap" style="display:none">
        <button style="position:absolute; top:1%;right:1%" onclick="hideNavmap()">X</button>
        <svg height="480" width="480" xmlns="http://www.w3.org/2000/svg" version="1.1">
			<polygon id="navigationpolygon" points="150,135 144,144 156,144"
				style="fill:lime;stroke:purple;stroke-width:1" />
			<circle id="navigationCircle" cx="150" cy="150" r="6" stroke="black" stroke-width="1" opacity="1"
				fill="#11DAB7"></circle>
		</svg>
    </div>
</body>

<script src="js/websocket.js"></script>
<script src="js/global_vars.js"></script>
<script src="js/basic_functions.js"></script>
<script src="js/basic_buttons.js"></script>
<script src="js/window_ops.js"></script>
<script src="js/canvas_ops.js"></script>
<script src="js/navigation_map.js"></script>
<script src="js/draw_area.js"></script>
<script>
	document.getElementById("grid_cut").onclick = function(e) {
		console.log("grid_cut")
		data.type = 1055;
		data.uuid = '1;0;0';
		ws1.send(code(data));
	}
	document.getElementById("grid_cut_clean").onclick = function(e) {
		console.log("grid_cut_clean")
		data.type = 1055;
		data.uuid = '0;0;0';
		ws1.send(code(data));
	}
	document.getElementById("level_cut").onclick = function(e) {
		console.log("level_cut")
		data.type = 1058;
		data.uuid = '1;0;0';
		ws1.send(code(data));
	}
	document.getElementById("level_cut_clean").onclick = function(e) {
		console.log("level_cut_clean")
		data.type = 1058;
		data.uuid = '0;0;0';
		ws1.send(code(data));
	}
	document.getElementById("top").onclick = function(e) {
		console.log("top")
		data.type = 49;
		data.anx = 0;
		data.any = 1;
		data.anz = 0;
		ws1.send(code(data));
	}
		document.getElementById("front").onclick = function(e) {
		console.log("front")
		data.type = 49;
		data.anx = 0;
		data.any = 0;
		data.anz = 1;
		ws1.send(code(data));
	}
	
</script>
</html>