<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="test_bin.css">
</head>

<body>
    <div class="layout">
		<button id="show" style="background-color:#666666; display:none;"> show </button>
		<button id="hide" style="background-color:#666666; display:none;"> hide </button>
		<button id="planform" style="background-color:#666666; display:none;"> planform </button>
		<button id="nav_SetBuildNumber" style="background-color:#666666; display:none;"> nav_SetBuildNumber </button>
		<button id="nav_SetFloorHeight" style="background-color:#666666; display:none;"> nav_SetFloorHeight </button>
		<button id="Navmap" style="background-color:#666666; display:none;"> Navmap </button>
		<button id="nav_FirstPersonView" style="background-color:#666666; display:none;"> nav_FirstPersonView </button>
		
        <button id="btnReset" onclick="reset()">回归主视图</button>

		<p>
		<button id="test_1199_1">测试1199_1</button>
		</p>
		<p>
		<button id="test_1199_0">测试1199_0</button>
		</p>
		<p>
		<button id="test_1199_4">测试1199_4</button>
		</p>
		<p>
		<button id="top" >top</button>
		</p>
		<p>
		<button id="front" >front</button>
		</p>

    </div>

    <canvas height="720" width="1280" id="showcanvas"> </canvas>


    <div id="Navmap" class="Navmap" style="display:none; background:url(D://Home/Workspace/cbim_repos/cbimraas_new/data/save/views/NavMap.jpg) center;background-size:100%;">
        <button style="position:absolute; top:1%;right:1%" onclick="hideNavmap()">X</button>
        <svg height="300" width="300" xmlns="http://www.w3.org/2000/svg" version="1.1">
			<polygon id="navigationpolygon" points="150,135 144,144 156,144"
				style="fill:lime;stroke:purple;stroke-width:1" />
			<circle id="navigationCircle" cx="150" cy="150" r="6" stroke="black" stroke-width="1" opacity="1"
				fill="#11DAB7"></circle>
		</svg>
    </div>
</body>

<script src="js/websocket.js"></script>
<script src="js/global_vars.js"></script>
<script src="js/basic_functions.js"></script>
<script src="js/basic_buttons.js"></script>
<script src="js/window_ops.js"></script>
<script src="js/canvas_ops.js"></script>
<script src="js/navigation_map.js"></script>

<script>
	document.getElementById("test_1199_1").onclick = function(e) {
		console.log("test_1199_1");
		data.type = 1199;
		data.extraType = 1;  //剖切透明效果
		data.anx = 45.6;//top高度
		data.any = 41.4;//bottom高度
		data.asx = 0.9;//高度范围内的不透明度
		data.asy = 0.05;//高度范围外的不透明度
		data.uuid = "7e29a451-fe0e-4b26-b97a-a0c0c77cc77a-000f74c1"; //房间，面积，构件id，多个uid以小写分号分隔
		ws1.send(code(data));
	}
	document.getElementById("test_1199_0").onclick = function(e) {
		console.log("test_1199_0");
		data.type = 1199;
		data.extraType = 0;
		ws1.send(code(data));
	}
	
	document.getElementById("test_1199_4").onclick = function(e) {
		console.log("test_1199_4");
		data.type = 1199;
		data.extraType = 4;
		data.anx = 45.6;//top高度
		data.any = 41.4;//bottom高度
		data.asx = 0.9;//高度范围内的不透明度
		data.asy = 0.05;//高度范围外的不透明度
		data.uuid = "7e29a451-fe0e-4b26-b97a-a0c0c77cc77a-000f74bf;2;2;2;89d6e8c3-8c2a-4b67-b3d1-6c4b9f8a92d5-001d06a5;7e29a451-fe0e-4b26-b97a-a0c0c77cc77a-000f74b9;-21.669486327484208;19.45899451902529;0;-19.946533043633494;17.794612331978033;0;-21.669486327484208;19.45899451902529;0;-20.403542688883107;21.492739180011856;0"

		ws1.send(code(data));
	}
	
	document.getElementById("top").onclick = function(e) {
			console.log("top")
			data.type = 49;
			data.anx = 0;
			data.any = 1;
			data.anz = 0;
			ws1.send(code(data));
	}
			document.getElementById("front").onclick = function(e) {
			console.log("front")
			data.type = 49;
			data.anx = 0;
			data.any = 0;
			data.anz = 1;
			ws1.send(code(data));
	}
	
</script>

</html>
